@model ImageViewModel

@foreach (var image in Model.Images)
{
<div class="jumbotron" style="margin-bottom: 20px; text-align: center;">
    <a href="/home/viewimage?id=@image.Id">
        <h3>@image.Title</h3>
        <h5>@image.TimePosted</h5>
        <img style="width: 400px;" src="/uploads//@image.FileName" />
    </a>
</div>
}